<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NGL Message Sender</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>NGL Message Sender</h1>
            <p>MADE BY ZAI</p>
        </header>
        <form method="POST">
            <label for="nglusername">Username:</label>
            <input type="text" id="nglusername" name="nglusername" required><br>
            <label for="message">Message:</label>
            <input type="text" id="message" name="message" required><br>
            <label for="count">Count:</label>
            <input type="number" id="count" name="count" required><br>
            <div class="use-proxy">
                <label for="use_proxy">Use proxy:</label>
                <input type="checkbox" id="use_proxy" name="use_proxy">
            </div>
            <button type="submit">Send Messages</button>
        </form>
    </div>
</body>
</html>
